#root {
  max-width: 1280px;
  padding: 1rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 300px
}

.canvas {
  display: flex;
  flex-direction: row;
}

.canvas-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container {
  width: 300px;
  border-radius: 8px;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-wrap: break-word; /* Break long words to prevent overflow */
  hyphens: auto; /* Optional: automatically hyphenate long words */
}

.canvas-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
